.moduleHeader {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-darkest);
  color: white;
}

.moduleMain {
  padding: 2rem 0;
}

.moduleMain section {
  margin-bottom: 3rem;
  text-align: left;
}

.moduleMain ul {
  list-style-type: disc;
  margin-left: 20px;
}

.moduleMain h2 {
  color: var(--ifm-color-primary);
  margin-bottom: 1.5rem;
}

.moduleMain h3 {
  color: var(--ifm-color-primary-light);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.moduleMain h4 {
  color: var(--ifm-color-primary-lighter);
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.moduleMain table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.moduleMain th,
.moduleMain td {
  border: 1px solid var(--ifm-color-primary-dark);
  padding: 8px;
  text-align: left;
}

.moduleMain th {
  background-color: var(--ifm-color-primary-dark);
  color: white;
}
