.modules {
  padding: 2rem 0;
  text-align: center;
}

.moduleCard {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
   display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.moduleCard:hover {
  transform: translateY(-3px);
}