/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --ifm-font-family-base: 'Poppins', sans-serif;
  --ifm-font-family-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --ifm-h1-font-size: 3.5rem;
  --ifm-h2-font-size: 2.5rem;
  --ifm-h3-font-size: 2rem;
  --ifm-h4-font-size: 1.5rem;
  --ifm-h5-font-size: 1.25rem;
  --ifm-h6-font-size: 1rem;
  --ifm-color-primary: #007bff;
  --ifm-color-primary-dark: #0069d9;
  --ifm-color-primary-darker: #0062cc;
  --ifm-color-primary-darkest: #004c99;
  --ifm-color-primary-light: #3395ff;
  --ifm-color-primary-lighter: #4c9fff;
  --ifm-color-primary-lightest: #7fbaff;
  --ifm-color-secondary: #39ff14;
  --ifm-color-secondary-dark: #32e612;
  --ifm-color-secondary-darker: #2fcb11;
  --ifm-color-secondary-darkest: #23a00d;
  --ifm-color-secondary-light: #52ff36;
  --ifm-color-secondary-lighter: #66ff4c;
  --ifm-color-secondary-lightest: #99ff80;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --gradient-border: linear-gradient(90deg, #007bff, #39ff14);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1a85ff;
  --ifm-color-primary-dark: #0a70e6;
  --ifm-color-primary-darker: #0969d1;
  --ifm-color-primary-darkest: #0751a3;
  --ifm-color-primary-light: #479eff;
  --ifm-color-primary-lighter: #60adff;
  --ifm-color-primary-lightest: #99caff;
  --ifm-color-secondary: #39ff14;
  --ifm-color-secondary-dark: #32e612;
  --ifm-color-secondary-darker: #2fcb11;
  --ifm-color-secondary-darkest: #23a00d;
  --ifm-color-secondary-light: #52ff36;
  --ifm-color-secondary-lighter: #66ff4c;
  --ifm-color-secondary-lightest: #99ff80;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: linear-gradient(to right, var(--ifm-color-primary-dark), var(--ifm-color-primary-light)), var(--gradient-border);
  transition: all 0.3s ease;
}

.button--primary {
  box-shadow: 0 0 15px var(--ifm-color-secondary-light);
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button--primary:hover {
  box-shadow: 0 0 25px var(--ifm-color-secondary-light);
}

.button--secondary {
  color: white;
  background-image: linear-gradient(to right, var(--ifm-color-secondary-dark), var(--ifm-color-secondary-light)), var(--gradient-border);
  box-shadow: 0 0 15px var(--ifm-color-secondary-light);
}

.button--secondary:hover {
  box-shadow: 0 0 25px var(--ifm-color-secondary-light);
}

.section-divider {
  width: 80%;
  height: 2px;
  background: linear-gradient(to right, var(--ifm-color-primary), var(--ifm-color-secondary));
  margin: 40px auto;
  border: none;
}

.footer a {
  color: #1e90ff;
  text-decoration: none;
}

.footer a:hover {
  color: #104e8b;
}